@import "tailwindcss";



@layer utilities {
  @keyframes typing {
    from {
      width: 0;
    }
    50% {
      width: 67%;
    }
    to {
      width: 67%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .animate-typing {
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid white;
    animation: typing 3s steps(23, end) infinite, blink 0.7s infinite;
  }

   html {
    scroll-behavior: smooth;
  }
  
}


