@import "tailwindcss";

.root{
  background-color: #12172a  ;
}



@layer utilities {
  /* @keyframes typing {
    from {
      width: 0;
    }
    50% {
      width: 67%;
    }
    to {
      width: 67%;
    }
  } */

  @keyframes typing {
  from { width: 0; }
  to { width: 24ch; }  /* ch = character units */
}


  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .animate-typing {
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid white;
    width:24ch;
    animation: typing 4s steps(24, end) infinite, blink 0.7s infinite;
  }

  .animate-typing-sm {
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid white;
    width: 19ch;
    animation: typing-sm 3s steps(19, end) infinite, blink 0.7s infinite;
  }

  @keyframes typing-sm {
    from { width: 0; }
    to { width: 19ch; }
  }

   html {
    scroll-behavior: smooth;
  }
  
}


